# ------------------------------------------------------------
# JMSAdmin.config
#
# The JMS Admin tool looks for this file in the current
# directory or you can specify it's path on the command line.
#
# Edit the PROVIDER_URL value to reflect the location where
# the JMSDEMO sample code is installed (i.e. the current
# directory).
#
# ------------------------------------------------------------
INITIAL_CONTEXT_FACTORY=com.sun.jndi.fscontext.RefFSContextFactory
PROVIDER_URL=file:./JNDI
